In [ ]:
import pandas as pd 

#Modelos lineales 
from sklearn.linear_model import Lasso, Ridge, LinearRegression
#Modelos no lineales 
from sklearn.ensemble import

In [4]:
df = pd.read_csv('../data/housing_clean.csv')
df.head(4)

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,bedrooms_x_room
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.146591
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.155797
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.129516
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.184458