In [21]:
#Cargamos los datos para entener los datos
import pandas as pd 

#Usamos el enconding porque problablemente el dataset viene con caracteres que en UTF-8 no carga , evitamos error 
df = pd.read_csv('../data/spam.csv', encoding='latin-1', sep=';', names=['clase', 'mensajes'])
df.head(2)

  clase                                           mensajes
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...

In [ ]:
#Miramos cantidad de ejemplos que tenemos
df.shape

(5572, 2)

In [ ]:
#Revisamos que los datos sean los correctos
df.dtypes

clase       object
mensajes    object
dtype: object

In [ ]:
#Revisamos nulos
df.isnull().sum()

clase       0
mensajes    0
dtype: int64

In [ ]:
#Revisamos balanceo en la variable clase
df['clase'].value_counts(normalize=True)

clase
ham     0.865937
spam    0.134063
Name: proportion, dtype: float64

In [30]:
#Revisamos duplicados 
df.duplicated().sum()

np.int64(404)

In [ ]:
#Revisamos valores duplicados
df[df.duplicated()].head(10)

    clase                                           mensajes
103   ham  As per your request 'Melle Melle (Oru Minnamin...
154   ham  As per your request 'Melle Melle (Oru Minnamin...
207   ham  As I entered my cabin my PA said, '' Happy B'd...
223   ham                             Sorry, I'll call later
326   ham                   No calls..messages..missed calls
339   ham                             Sorry, I'll call later
357  spam  Congratulations ur awarded 500 of CD vouchers ...
444   ham                             Sorry, I'll call later
533   ham                  Gudnite....tc...practice going on
655   ham                       Did u got that persons story

In [ ]:
#Eliminamos los duplicados para evitar multicolonealidad
df.drop_duplicates(inplace=True)

In [35]:
#Rectificamos que ya no tengamos duplicados
df.duplicated().sum()

np.int64(0)